<div id="topnav">
<header class="navbar navbar-fixed-top navbar-inverse header"> 
 <div class="container">
 <%= link_to "Health App", root_path, id: "logo" %>
  <ul class="nav navbar-nav navbar-right">
   <li><%= link_to "Sign up",'/signup'%></li>
   <li><%= link_to "Login",'#'%></li>
  </ul>
 </div>  
</header>
</div>